:root {
    background-color:green;
}

body {
    background-image: url("img/grass.jpg");


}
footer {
    background-color: forestgreen
}

header {
    display: flex;
    flex-direction: column;
    background-color: ivory;
    border: 1px double black;
    border-radius: 1em;
    padding: 1em;
    align-items: center;
    max-width: 60%;
    justify-content: center;
    margin: auto;
}

header h1 {
    margin: 0;
}


header p {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

header img {
    max-height: 25px;
    max-width: 25px;
    align-self: center;
}


.optionsAvailableDuringGame {
    display: none
}

.maze {
    width: 70%;
    background-color: darkgoldenrod;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.mazeRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1
}

.mazeItem {
    height: 30px;
    width: 30px;
    flex: 1 1
}

.tree {
    background-color: darkgoldenrod;
}

.blank {
    opacity: 0.4;
}

.youWon {
    display: none;
    flex-direction: column;
    font-size: xx-large;
    color: forestgreen;
    background-color:ivory;
    border: 1px double black;
    border-radius: 1em;
    align-items: center;
   
}

.youWon img {
    max-height: 15em;
    max-width: 15em;
}
