:root {
    --squareSize: 3em;
    --forestBackgroundColor: darkgoldenrod;
    --lighterBackgroundColor:rgb(200, 153, 0);
    --veryLightBackground: ivory;
}

body {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto;
    place-items: center;
    background: url("img/grass.jpg") repeat center center fixed;
    position: relative;
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    background-color:var(--veryLightBackground);
    bottom: 0;
    right: 0;
    border-radius: 1em;
    padding: 0.5em;
}

header {
    width: 116px;
    flex: 0 1;
    display: flex;
    flex-direction: column;
    background-color: var(--veryLightBackground);
    border: 1px double black;
    border-radius: 1em;
    padding: 1em;
    position: static;
    left: 0;
  
}


header img {
    max-height: 25px;
    max-width: 25px;
    align-self: center;
}

.thisIsTheForest {
    flex: 1 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--forestBackgroundColor);
    justify-self: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    height: var(--squareSize);
}

.forestSquareImage {
    height: var(--squareSize);
    width: var(--squareSize);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: var(--lighterBackgroundColor)

}


/* .optionsAvailableDuringGame {
    display: none
} */


.tree {
    background-color:var(--forestBackgroundColor);
    height: var(--squareSize)
}

.emptyjar {
    background-color:var(--lighterBackgroundColor);
}

.fulljar {
    background-color: var(--lighterBackgroundColor);
}

.blank{
   opacity: 0;
}


.honey{
    opacity: 0;
}

.H {
    background: url(img/honey.png) center no-repeat, url(img/forestFloor.png);
    background-size: var(--squareSize)
}

.H img {
    opacity: 0;
}

.bear{
    background-color: var(--lighterBackgroundColor);
}

#bear {
    opacity: 1;
}

#jar1 {
    opacity: 1;
}
#jar2 {
    opacity: 1;
}
#jar3 {
    opacity: 1;
}
#jar4 {
    opacity: 1;
}
#jar5 {
    opacity: 1;
}
#jar6 {
    opacity: 1;
}

.youWon {
    display: none;
    position: absolute;
    flex-direction: column;
    font-size: xx-large;
    color: black;
    text-shadow: 2px 2px white;
    border-radius: 1em;
    align-items: center;
   
}

.youWon h2 {
    background-color: var(--veryLightBackground);
    padding: .25em;
    border-radius: .5em;
}

.youWon img {
    max-height: 15em;
    max-width: 15em;
}

.instructions {
    position: absolute;
    top: 0;
    right: 10px;
}

.instructions {
    background-color: var(--veryLightBackground);
    border: 1px solid black;
    border-radius: 1em;
}

#instructionsToHide {
    display: none
}
