:root {
    --squareSize: 3em;
    --forestBackgroundColor: darkgoldenrod;
    --lighterBackgroundColor:rgb(200, 153, 0);
}

body {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto;
    place-items: center;
    background: url("img/grass.jpg") repeat center center fixed;
    position: relative;
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    background-color: ivory;
    bottom: 0;
    right: 0;
    border-radius: 1em;
    padding: 0.5em;
}

header {
    width: 116px;
    flex: 0 1;
    display: flex;
    flex-direction: column;
    background-color: ivory;
    border: 1px double black;
    border-radius: 1em;
    padding: 1em;
    position: static;
    left: 0;
  
}


header img {
    max-height: 25px;
    max-width: 25px;
    align-self: center;
}

.thisIsTheForest {
    flex: 1 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--forestBackgroundColor);
    justify-self: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    height: var(--squareSize);
}

.square {
    height: var(--squareSize);
    width: var(--squareSize);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;

}

.optionsAvailableDuringGame {
    display: none
}

/* .maze {
    width: 70%;
    background-color: darkgoldenrod;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.mazeRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1
} */

/* .mazeItem {
    height: 30px;
    width: 30px;
    flex: 1 1
} */

.tree {
    background-color:var(--forestBackgroundColor);
}

.emptyjar {
    background-color:var(--forestBackgroundColor);
}

.fulljar {
    background-color: ivory;
}

.blank{
    background-color:var(--lighterBackgroundColor);

}

.bear{
    background-color: var(--forestBackgroundColor);
}

.honey{
    background-color:var(--forestBackgroundColor);

}

.youWon {
    display: none;
    position: relative;
    flex-direction: column;
    font-size: xx-large;
    color: black;
    text-shadow: 2px 2px white;
    border-radius: 1em;
    align-items: center;
   
}

.youWon img {
    max-height: 15em;
    max-width: 15em;
}
